.git
.github
.vscode
.idea

target
target-llvmcov
node_modules
.pnpm-store
.openfoundry
.cargo/registry
.cargo/git
PoC
sdks/typescript/node_modules
sdks/python/.venv
sdks/java/build
sdks/java/.gradle

docs/node_modules
docs/.svelte-kit
docs/build
docs/.vite

apps/web/node_modules
apps/web/.svelte-kit
apps/web/build
apps/web/.vite
apps/web/playwright-report
apps/web/test-results

**/.DS_Store
**/*.log
**/.env
**/.env.*

docs_original_palantir_foundry
benchmarks
smoke
images
